# Importing Libaries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Datasets

In [2]:
# Creating a path
path = r'C:\Users\duongxma\Dropbox\CareerFoundry - Data Analytics\Data Immersion\Achievement 6\Data'

In [3]:
# Import crime data CSV file
df_crime = pd.read_csv(os.path.join(path, 'denver_crimedata_2018-2023.csv'), low_memory=False, index_col = False)

# Basic Overview of the Datasets

In [4]:
# Show how many rows and columns are in the crime data dataframe(df)
df_crime.shape

(377793, 26)

In [5]:
# Show detailed information about the crime data df
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377793 entries, 0 to 377792
Data columns (total 26 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   incident_id              377793 non-null  float64
 1   offense_id               377793 non-null  float64
 2   offense_code             377793 non-null  int64
 3   offense_code_extension   377793 non-null  int64
 4   offense_type_id          377793 non-null  object
 5   offense_category_id      377793 non-null  object
 6   first_occurrence_date    377793 non-null  object
 7   crime_yr                 377793 non-null  int64
 8   day_of_week_first        377793 non-null  object
 9   last_occurrence_date     206825 non-null  object
 10  day_btwn_first_last      206825 non-null  float64
 11  reported_date            377793 non-null  object
 12  day_btwn_first_reported  377793 non-null  float64
 13  reported_yr              377793 non-null  int64
 14  incident_address         362616 non-null  object
 15  geo_x                    362616 non-null  float64
 16  geo_y                    362616 non-null  float64
 17  geo_lon                  362341 non-null  float64
 18  geo_lat                  362341 non-null  float64
 19  district_id              377736 non-null  object
 20  precinct_id              377793 non-null  int64
 21  neighborhood_id          377109 non-null  object
 22  county                   377793 non-null  object
 23  is_crime                 377793 non-null  int64
 24  is_traffic               377793 non-null  int64
 25  victim_count             377793 non-null  int64
dtypes: float64(8), int64(8), object(10)
memory usage: 74.9+ MB

In [6]:
# Check for mixed-type data in df_crime
for col in df_crime.columns.tolist():
  weird = (df_crime[[col]].applymap(type) != df_crime[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_crime[weird]) > 0:
    print (col, ' mixed')
  else: print(col, ' consistent')

incident_id  consistent
offense_id  consistent
offense_code  consistent
offense_code_extension  consistent
offense_type_id  consistent
offense_category_id  consistent
first_occurrence_date  consistent
crime_yr  consistent
day_of_week_first  consistent
last_occurrence_date  mixed
day_btwn_first_last  consistent
reported_date  consistent
day_btwn_first_reported  consistent
reported_yr  consistent
incident_address  mixed
geo_x  consistent
geo_y  consistent
geo_lon  consistent
geo_lat  consistent
district_id  mixed
precinct_id  consistent
neighborhood_id  mixed
county  consistent
is_crime  consistent
is_traffic  consistent
victim_count  consistent

In [7]:
# Show the type of data in the crime data df
df_crime.dtypes

incident_id                float64
offense_id                 float64
offense_code                 int64
offense_code_extension       int64
offense_type_id             object
offense_category_id         object
first_occurrence_date       object
crime_yr                     int64
day_of_week_first           object
last_occurrence_date        object
day_btwn_first_last        float64
reported_date               object
day_btwn_first_reported    float64
reported_yr                  int64
incident_address            object
geo_x                      float64
geo_y                      float64
geo_lon                    float64
geo_lat                    float64
district_id                 object
precinct_id                  int64
neighborhood_id             object
county                      object
is_crime                     int64
is_traffic                   int64
victim_count                 int64
dtype: object

In [8]:
# Show the first five rows in the crime data df
df_crime.head()

,incident_id,offense_id,offense_code,offense_code_extension,offense_type_id,offense_category_id,first_occurrence_date,crime_yr,day_of_week_first,last_occurrence_date,...,geo_y,geo_lon,geo_lat,district_id,precinct_id,neighborhood_id,county,is_crime,is_traffic,victim_count
0,2.023601e+10,2.020000e+16,2304,0,theft-parts-from-vehicle,theft-from-motor-vehicle,6/29/2018 17:00,2018,Fri,7/12/2023 13:00,...,1736251.0,-104.674045,39.851926,7,759,dia,Denver,1,0,1
1,2.023135e+09,2.020000e+15,1102,1,sex-aslt-rape-pot,sexual-assault,3/15/2018 12:45,2018,Thu,3/14/2023 12:45,...,NaN,NaN,NaN,1,122,villa-park,Denver,1,0,1
2,2.022602e+10,2.020000e+16,2304,0,theft-parts-from-vehicle,theft-from-motor-vehicle,6/1/2018 16:20,2018,Fri,8/22/2022 16:20,...,1715591.0,-104.895448,39.796554,5,511,central-park,Denver,1,0,1
3,2.023191e+09,2.020000e+15,1109,0,sex-aslt-non-rape,sexual-assault,1/1/2019 8:00,2019,Tue,3/13/2023 19:00,...,NaN,NaN,NaN,2,221,northeast-park-hill,Denver,1,0,1
4,2.023387e+09,2.020000e+15,2399,0,theft-other,larceny,6/1/2019 12:00,2019,Sat,7/19/2023 11:00,...,1683676.0,-105.035631,39.709575,4,412,westwood,Denver,1,0,1

# Basic Data Cleaning & Consistency Checks

In [9]:
# Checking for missing values in the crime data df
df_crime.isnull().sum()

incident_id                     0
offense_id                      0
offense_code                    0
offense_code_extension          0
offense_type_id                 0
offense_category_id             0
first_occurrence_date           0
crime_yr                        0
day_of_week_first               0
last_occurrence_date       170968
day_btwn_first_last        170968
reported_date                   0
day_btwn_first_reported         0
reported_yr                     0
incident_address            15177
geo_x                       15177
geo_y                       15177
geo_lon                     15452
geo_lat                     15452
district_id                    57
precinct_id                     0
neighborhood_id               684
county                          0
is_crime                        0
is_traffic                      0
victim_count                    0
dtype: int64

No changes necessary to null values. Sometimes people don't know the last occurrence date of a crime, so it may be left blank or has the same date as the reported date. Also, sometimes there isn't an address for an incident because the reporting party may have been unaware of where they crime actually took place (e.g., theft from motor vehicle) if they've been driving around and/or just didn't notice when something was stolen. While we won't be able to map these incidents, we can still count them in other areas (e.g., total amount of crimes, top crimes, etc.)

In [10]:
# Checking for duplicates in the crime data df; first, we create a new df that contains only rows that are duplicate:
df_crime_dups = df_crime[df_crime.duplicated()]

In [11]:
df_crime_dups

Empty DataFrame
Columns: [incident_id, offense_id, offense_code, offense_code_extension, offense_type_id, offense_category_id, first_occurrence_date, crime_yr, day_of_week_first, last_occurrence_date, day_btwn_first_last, reported_date, day_btwn_first_reported, reported_yr, incident_address, geo_x, geo_y, geo_lon, geo_lat, district_id, precinct_id, neighborhood_id, county, is_crime, is_traffic, victim_count]
Index: []

[0 rows x 26 columns]

In [12]:
df_crime_dups.shape

(0, 26)

# Descriptive Statistical Analysis

In [13]:
# Basic descriptive analysis for crime data df
df_crime.describe()

,incident_id,offense_id,offense_code,offense_code_extension,crime_yr,day_btwn_first_last,day_btwn_first_reported,reported_yr,geo_x,geo_y,geo_lon,geo_lat,precinct_id,is_crime,is_traffic,victim_count
count,3.777930e+05,3.777930e+05,377793.000000,377793.000000,377793.000000,206825.000000,377793.000000,377793.000000,3.626160e+05,3.626160e+05,3.623410e+05,362341.000000,377793.000000,377793.0,377793.0,377793.000000
mean,6.158747e+09,6.154902e+15,2766.520870,0.262337,2020.529070,4.148946,5.058215,2020.542480,3.157048e+06,1.693801e+06,-1.049443e+02,39.730719,385.358826,1.0,0.0,1.020323
std,1.345426e+10,1.345099e+16,1231.885876,0.666936,1.628752,32.551415,35.966519,1.629639,3.692991e+05,9.173517e+04,1.034566e+00,0.392912,183.307984,0.0,0.0,0.235317
min,2.019600e+04,2.019652e+10,902.000000,0.000000,2018.000000,0.000000,-0.330000,2018.000000,1.000000e+00,1.110000e+02,-1.154641e+02,0.000000,111.000000,1.0,0.0,1.000000
25%,2.019310e+09,2.020000e+15,2303.000000,0.000000,2019.000000,0.020000,0.050000,2019.000000,3.140198e+06,1.683416e+06,-1.050014e+02,39.708622,222.000000,1.0,0.0,1.000000
50%,2.021411e+09,2.020000e+15,2399.000000,0.000000,2021.000000,0.320000,0.230000,2021.000000,3.146502e+06,1.694851e+06,-1.049791e+02,39.739957,324.000000,1.0,0.0,1.000000
75%,2.023377e+09,2.020000e+15,2999.000000,0.000000,2022.000000,0.790000,1.030000,2022.000000,3.165636e+06,1.702372e+06,-1.049113e+02,39.760622,523.000000,1.0,0.0,1.000000
max,2.020000e+12,2.020000e+18,7399.000000,6.000000,2023.000000,1838.830000,1843.850000,2023.000000,4.067477e+07,1.089045e+07,5.000000e-07,39.900961,999.000000,1.0,0.0,19.000000

# Data Wrangling Procedures - Renaming Columns

In [14]:
df_crime.rename(columns = {'offense_type_id' : 'crime'}, inplace = True)

In [15]:
df_crime.rename(columns = {'offense_category_id' : 'crime_category'}, inplace = True)

In [16]:
df_crime.rename(columns = {'first_occurrence_date' : 'crime_startdate'}, inplace = True)

In [17]:
df_crime.rename(columns = {'last_occurrence_date' : 'crime_enddate'}, inplace = True)

# Data Wrangling Procedures - Dropping Columns

In [18]:
df_crime.drop(columns = ['offense_id', 'offense_code', 'offense_code_extension','is_crime', 'is_traffic'])

,incident_id,crime,crime_category,crime_startdate,crime_yr,day_of_week_first,crime_enddate,day_btwn_first_last,reported_date,day_btwn_first_reported,...,incident_address,geo_x,geo_y,geo_lon,geo_lat,district_id,precinct_id,neighborhood_id,county,victim_count
0,2.023601e+10,theft-parts-from-vehicle,theft-from-motor-vehicle,6/29/2018 17:00,2018,Fri,7/12/2023 13:00,1838.83,7/17/2023 13:22,1843.85,...,8500 PENA BLVD,3231903.0,1736251.0,-104.674045,39.851926,7,759,dia,Denver,1
1,2.023135e+09,sex-aslt-rape-pot,sexual-assault,3/15/2018 12:45,2018,Thu,3/14/2023 12:45,1825.00,3/15/2023 12:45,1826.00,...,NaN,NaN,NaN,NaN,NaN,1,122,villa-park,Denver,1
2,2.022602e+10,theft-parts-from-vehicle,theft-from-motor-vehicle,6/1/2018 16:20,2018,Fri,8/22/2022 16:20,1543.00,8/22/2022 16:31,1543.01,...,8080 E 55TH AVE,3169875.0,1715591.0,-104.895448,39.796554,5,511,central-park,Denver,1
3,2.023191e+09,sex-aslt-non-rape,sexual-assault,1/1/2019 8:00,2019,Tue,3/13/2023 19:00,1532.46,4/13/2023 17:16,1563.39,...,NaN,NaN,NaN,NaN,NaN,2,221,northeast-park-hill,Denver,1
4,2.023387e+09,theft-other,larceny,6/1/2019 12:00,2019,Sat,7/19/2023 11:00,1508.96,7/19/2023 12:47,1509.03,...,3615 MORRISON RD,3130647.0,1683676.0,-105.035631,39.709575,4,412,westwood,Denver,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377788,2.023444e+09,violation-of-restraining-order,all-other-crimes,8/17/2023 18:53,2023,Thu,NaN,NaN,8/17/2023 20:45,0.08,...,S LIPAN ST / W ALAMEDA NEVADA ALY,3140241.0,1684132.0,-105.001522,39.710688,4,412,athmar-park,Denver,1
377789,2.023805e+10,public-order-crimes-other,all-other-crimes,8/17/2023 19:00,2023,Thu,NaN,NaN,8/17/2023 19:51,0.04,...,8400 PENA BLVD,3231977.0,1735292.0,-104.673812,39.849292,7,759,dia,Denver,1
377790,2.023444e+09,drug-opium-or-deriv-possess,drug-alcohol,8/17/2023 19:08,2023,Thu,NaN,NaN,8/17/2023 20:23,0.05,...,200 BLK N GROVE ST,3133342.0,1687865.0,-105.025974,39.721037,4,411,barnum,Denver,1
377791,2.023444e+09,drug-methampetamine-possess,drug-alcohol,8/17/2023 19:10,2023,Thu,NaN,NaN,8/17/2023 20:32,0.06,...,1600 BLOCK N MONACO ST,3165346.0,1695578.0,-104.912026,39.741697,2,223,south-park-hill,Denver,1
377792,2.023444e+09,drug-pcs-other-drug,drug-alcohol,8/17/2023 19:10,2023,Thu,NaN,NaN,8/17/2023 20:32,0.06,...,1600 BLOCK N MONACO ST,3165346.0,1695578.0,-104.912026,39.741697,2,223,south-park-hill,Denver,1

# Exporting Cleaned Data

In [19]:
# Export cleaned df_crime

df_crime.to_csv(os.path.join(path, 'denver_crimedata_2018-2023_cleaned.csv'))